.hero {
    min-height: 50vh;
    /* put on top */
    position: relative;
    z-index: 1;
    background-color: grey;
}

.experiencies {
    margin-top: 30px;
    margin-bottom: 30px;
}

.dropdown {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-container {
    margin-bottom: 30px;
}

#showModal_addExperience_button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 100px;
}
