:root{
 /* --color-primario: #FF3B3F;
--color-secundario: #A9A9A9;
--color-terciario: #CAEBF2;  */

/* --color-primario: #E37222;
--color-secundario: #07889B;
--color-terciario: #EEAA7B; */
/* Modelo 2*/
/* --color-primario: #E37222;
--color-secundario: #07889B;
--color-terciario: #EEAA7B;  */
/* Modelo 3 */
/* --color-primario: #E37222;
--color-secundario: #07889B;
--color-terciario: #EEAA7B; */
/* Modelo 4*/
/* --color-primario: #96858F;
--color-secundario: #6D7993;
--color-terciario: #9099A2; */
/* Modelo 5*/
/* --color-primario: #FF3B3F;
--color-secundario: #A9A9A9;
--color-terciario: #CAEBF2; */
/* Modelo 6*/
/* --color-primario: #76323F;
--color-secundario: #565656;
--color-terciario: #D7CEC7; */
/* Modelo 7*/
 --color-primario: #0B3C5D;
--color-secundario: #328CC1;
--color-terciario: #D98310; 
/* Modelo 8*/
/*--color-primario:  #015249;
--color-secundario: #57BC90;
--color-terciario: #77C9D4;*/ 
/* Modelo 9*/
/*--color-primario:  #CF6766;
--color-secundario: #30415D;
--color-terciario: #031424;*/
/* Modelo 10*/
/*--color-primario:  #88D317;
--color-secundario: #535353;
--color-terciario: #6E3667;*/
}



.nav-colored {
    background-color: black;
    transition: all 0.4s;
}

.nav-transparent {
    background-color: transparent;
    transition: all 0.4s;
}

.hero {
    min-height: 50vh;
    /* put on top */
    position: relative;
    z-index: 1;
    background-color: var(--color-secundario);
}

.experiencies {
    margin-top: 25px;
    margin-bottom: 50px;
}.navbar-brand

.col {
    margin-top: 30px;
    margin-bottom: 30px;
}

.dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
}


.container{
    color: var(--color-primario);

}

#logoheader{
    color: var(--color-primario);
    background-color: var(--color-terciario);
}
#navheader1{
    color: var(--color-primario);
}
#navheader2{
    color: var(--color-primario);
}
#navheader2:hover{
    color: var(--color-terciario);
}
#navheader1:hover{
    color: #CAEBF2;
}
p{
    color: black;
}
h4{
    color: black;
}
#navadmin1{
    color: var(--color-primario);
}
#navadmin2{
    color: var(--color-primario);
}
#logout{
    color: var(--color-primario);
}
.img-hover-zoom{
    height: 210px;
    width: 340px;
    
    
}
.img-hover-zoom img {
    transition: transform .5s ease;
  }
  .img-hover-zoom:hover img {
    transform: scale(1.3);
  }
 .imgRezice{
    border-radius: 5px;
    border:5px solid var(--color-terciario);

 }
 #dropdown1{
     background-color:var(--color-primario);
     color:var(--color-secundario);
 }
 #dropdown2{
     background-color: var(--color-secundario);;
     color:var(--color-primario); 
 }
 .dropdown-item{
     color: var(--color-primario);
 }
 .dropdown-item1{
    color: var(--color-secundario);
 }
 .nav nav-tabs{
    color: var(--color-primario);

 }
