/*=======================================================
=            Section Reset                              =
=======================================================*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

button {
    border: none;
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

/* html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;} */

/*=====  End of Section Reset  ======*/

/*=======================================================
=            Structure Desktop Page                     =
=======================================================*/
:root {
    /*Colors*/

    /* 01_FonsPagina */
    --main-bg-color: #f8f8fa;
    /* 02_MarcatSuau */
    --main-bg-box-color: #ffffff;
    /* 03_Text */
    --main-txt-color: #000f14;
    /* 04_ColorBase */
    --main-color: #aa0202;
    /* 05_ColorGraphics */
    --main-graphic-color: #bdbdbd;
    /* 06_SecondaryText */
    --seco-txt-color: #333333;

    /*Fonts*/

    /* FontWeight_extraLight */
    --w1-font: 200;
    /* FontWeight_Light */
    --w2-font: 300;
    /* FontWeight_Regular */
    --w3-font: 400;
    /* FontWeight_semibold */
    --w4-font: 600;
    /* FontWeight_bold */
    --w5-font: 700;

    /* FontSize_generica */
    --sg-font-generica: 1.4rem;
    /* LineHeight_generica */
    --lhg-font-generica: 2rem;
    /* FontSize_title1 */
    --sh1-font-title: 5rem;
    /* LineHeight_title1 */
    --lhh1-font-title: 6rem;
    /* FontSize_title2 */
    --sh2-font-title: 4rem;
    /* LineHeight_title2 */
    --lhh2-font-title: 4.8rem;
    /* FontSize_text */
    --sp-font-txt: 1.6rem;
    /* LineHeight_text */
    --lhp-font-txt: 2.4rem;

    /* FontSize_CTA */
    --s-font-CTA: 1.3rem;

    /*Margins*/

    /* MarginVerticalRow */
    --margin-vert: 64px;
    /* MarginLateralCentralColumn */
    --margin-hort: 64px;

    /*Heights*/

    /* HeaderHeight */
    --headerHeight: 90px;
}

* {
    font-family: "Nunito", sans-serif;
    font-weight: var(--w3-font);
    /*    font-size: 14px;*/
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 1px solid #555555;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-size: 62.5%;
}

body {
    font-size: var(--sg-font-generica);
    line-height: var(--lhg-font-generica);
}

a {
    text-decoration: none;
    color: var(--main-txt-color);
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    font-family: "PT Serif", serif;
}

h1 {
    font-size: var(--sh1-font-title);
    line-height: var(--lhh1-font-title);
}

h2 {
    font-size: var(--sh2-font-title);
    line-height: var(--lhh2-font-title);
}

p {
    font-size: var(--sp-font-txt);
    line-height: var(--lhp-font-txt);
}

/*=====  End of Structure Desktop Page  ======*/
